$anca-white: #ffffff;
$anca-black: #000000;
$anca-black-2: #21201f;
$anca-blue: #007bc2;
$anca-blue-light: #E7ECFA;

$grey-1: #a7a7a7;
$grey-2: #b4b4b4;
$grey-3: #c0c0c0;
$grey-4: #cdcdcd;
$grey-5: #dadada;
