.slope-selector-module {
  padding: 1em;

  .sw-dropdown {
    float: right;
  }

  .sw-dropdown-content {
    width: 50em;

    h1 {
      text-align: center;
    }

    p {
      text-align: justify;
    }

    .gif-grid {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 2em;
      row-gap: 2em;
    }
  }

  .reactable {
    padding: 1em;
    margin-bottom: 2em;
  }

  .plot-widgets-container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  .inline-select-input > div {
    width: 5em !important;
    text-align: left !important;
  }

  .slope-plots-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-top: 2em;
  }
}