body {
  text-align: justify;
}

blockquote::before {
  font-weight: bold;
}

blockquote.note {
  border-color: #1f6feb;
  &::before {
    content: "ℹ️ Note: ";
  }
}

blockquote.important {
  border-color: #9e6a03;
  &::before {
    content: "⚠️ Important: ";
  }
}

blockquote.warning {
  border-color: #da3633;
  &::before {
    content: "🚨 Warning: ";
  }
}

p > img {
  border-radius: 1.5em;
  padding: 1em;
  margin: 1em 0;
}

html[data-bs-theme="light"] p > img {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}