/* custom css for progress bar */
.shiny-notification {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}

/* inputs */
.shiny-input-container {
  display: inline-block;
}

.selectize-input {
  height: 100%;
  width: 100%;
}

/* Style adjustments for headings */
h5 {
  margin-bottom: -1.5rem;
}

.fluidRow {
  margin-top: -0.25rem;
}

.shiny-input-container {
  margin-bottom: 0;
}

.nca-numeric-container {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

/* buttons */
.input-group-btn {
  width: auto;
}

.btn-help-icon {
  font-size: 20px;
  /* Increase font size */
  padding: 10px 20px;
  /* Increase padding */
}

/* modals */
.modal-dialog {
  max-width: 800px;
}

.modal-header {
  border-bottom: 1px solid #e5e5e5;
  background-color: #3f8abf;
  /* Blue header background */
  text-align: center;
}

.modal-title {
  font-family: "Arial", sans-serif;
  font-size: 32px;
  /* Larger title font size */
  font-weight: bold;
  color: #ffffff;
  /* White title color */
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  background-color: #f5f5f5;
  /* Light grey body background */
  padding: 20px;
  text-align: center;
}

.modal-intro {
  font-family: "Georgia", serif;
  /* Elegant font type for intro text */
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
  /* Dark text color */
}

/* modal for handling data duplicates */
.modal-dialog:has(.modal-duplicates) {
  width: 90vw;
  max-width: 95vw;

  .modal-body {
    max-height: 90vh;
    overflow: auto;

    & > div {
      overflow-x: auto;
      white-space: nowrap;
      border: 1px solid #ddd;
      padding: 1em;
    }
  }
}

/* custom-modal.css: Make Shiny modalDialog extra large (units table) */
.modal-xl {
  max-width: 65vw !important;
  width: 65vw !important;
}

.modal-xl .modal-body {
  max-height: 75vh;
  overflow-y: auto;
}

/* gifs */
.gif-container {
  text-align: center;
  border-radius: 1em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  background-color: #ffffff;

  img {
    width: calc(100% - 2em);
    border: 1px solid #ddd;
    border-radius: 1em;
    margin: 1em;
  }

  h1 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: bold;
    font-size: 24px;
    /* Larger font size for titles */
    color: #0056b3;
    /* More vibrant color */
    text-align: center;
    /* Center the title */
    font-family: "Arial", sans-serif;
    /* Use a more attractive font */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    /* Add a subtle text shadow */
  }
}

.gif-container:hover {
  transform: scale(1.05);
}

/* general reactable rules */
.rt-table {
  input {
    width: 100%;
    text-align: center;
  }

  .rt-select-input[type="checkbox"] {
    position: relative;
    top: 3px;
  }
}

/* custom inline selection module */
.inline-select-input > div,
.inline-select-input > div > div {
  width: 5em !important;
  text-align: left !important;
  display: inline-block !important;
}

/* parameter selection gird */
.nca-pill-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
}

.nca-pill {
  background-color: #e0ecff;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 0.9em;
  text-align: center;
}

.tlg-module {
  margin-top: 1em;

  /* Well containing tabs for each tlg */
  div.well {
    height: min-content;
  }

  .sw-dropdown {
    font-size: 1em;
    display: block;
    position: relative;
    top: -2.5em;
    right: -0.5em;
    margin-bottom: -1.25em;
    height: 2em;
    width: 2em;
    float: right;
  }

  .sw-dropdown-in {
    width: 200px;
  }

  .tlg-widgets-container {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 1em;
  }

  /* tlg tab */
  h1.tlg-group-label {
    font-weight: bold;
    font-size: 2rem;
    border-bottom: thin solid #337ab7;
    border-radius: 0 0 0.25em 0;
    margin-top: 0.75em;
  }

  .tlg-options-container {
    & > button {
      width: 90%;
      margin-left: 5%;
      margin-top: 1em;
      padding: 0.75em 0 0.75em 0;
    }

    .form-group.shiny-input-container {
      margin-bottom: 0.5em;

      label {
        margin: 0;
      }
    }
  }
}

.modal-dialog:has(.tlg-option-table) {
  max-width: none;
  margin-left: 1em;
  margin-right: 1em;
}

/* styling for widgets at the top of the Settings page */
div[data-value="Settings"] {
  & > div.row {
    margin: 1em;
    & div:has(a) {
      text-align: center;
    }
    & a {
      margin-top: 2em;
    }
  }
}
.content-container {
  height: 100%;
}

.page-container {
  height: 100%;
}

.bslib-sidebar-layout > .main {
  padding: 0;
}
