.data-tab-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.data-tab-content-container {
  flex: 1;
  overflow-y: auto;
  margin-top: 10px;
  padding: 20px;
}

/* data tab styling */
.data-tab-content {
  > .tabbable {
    > ul {
      display: none !important;
    }
  }

  .card {
    margin-top: 1em;
    margin-bottom: 0em;

    .card-body > div {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  .error-string {
    color: var(--bs-danger);
    font-weight: bold;
  }

  /* filters on data page */
  .filters-buttons-container {
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 2%;
  }

  .filter-widget-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-color: #dfdfdf;
    border: 1px solid #c3c3c3;
    border-radius: 4px;

    .btn-danger {
      align-self: flex-end;
      width: 100%;
      height: 2.5em;
      padding: 0;
      margin-top: 1.5em;
    }
  }

  /* column mapping UI */
  .data-mapping-container {
    .column-mapping-row {
      display: flex;
      align-items: center;
      margin: -0.75rem 0 0.25em 1em;
    }

    .column-mapping-output {
      margin: 1.25rem 0 0 0.625rem;
      color: $anca-black;
    }

    .column-mapping-label {
      margin: 1.25rem 0 0 0.625rem;
      color: $grey-1;
    }

    h5 {
      font-weight: bold;
      margin-top: 0.75em;
      margin-bottom: 0;
    }

    button {
      margin-top: 1em;
    }
  }
}

.data-tab-btns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 20px;
  border-top: 1px solid $grey-5;

  .nav-btns {
    display: flex;
    gap: 16px;
  }
}

.upload-container {
  padding: 32px 16px;
  margin-bottom: 32px;
  border: 1px dashed $anca-blue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &.dragover {
    background-color: rgba($anca-blue, 0.05);
    border-color: darken($anca-blue, 10%);
  }

  .shiny-input-container {
    .input-group {
      .input-group-btn .btn,
      .form-control {
        border: 1px solid $anca-blue;
        color: $anca-blue;
      }
      .input-group-btn .btn:hover {
        background-color: $anca-blue;
        color: $anca-white
      }
    }
  }
}

.data-filtering-container {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 100%;
}

.filtered-table-container {
  flex: 1 1 0;
  min-width: 300px;
  overflow-x: auto;
}

.filters-container {
  width: 300px;
  background-color: whitesmoke;
  flex-shrink: 0;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  height: 70vh;
  overflow-y: auto;
}

.filters-inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}
