.excretion_section_container {
  position: relative;

  .excretion-overlay {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1000;
    display: flex;
    text-align: center;
    font-size: 16px;
    color: #5b5b5b;
    border: 2px solid #cfe2f3;
    padding: 20px;
    border-radius: 8px;
  }
}
